.jumbotron
  %h1.display-2 Hello, there!
  %p Student Corner is a platform for you to share student generated content and learn collaboratively
  %p Check out the content available on the modules page
  %hr.my-4/
  = link_to 'View Modules', subjects_path, class: 'btn btn-primary btn-outline btn-lg' 
