@import "font-awesome";
@import 'black-dashboard';
@import 'devise';


.photo {
  display: inline-block;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  vertical-align: middle;
  overflow: hidden;
}

.jumbotron {
  background-color: transparentize($toast-background-color, .7);
}
