<h1>Editing Lecturers</h1>

<%= render 'form', subject: @lecturer %>

<%= link_to 'Show', @lecturer %> |
<%= link_to 'Delete', @lecturer, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', lecturers_path %>
